doctype html
html
  head
    title Example
  body
    h1 Example
    #container
      button(type='button', id='add-button') Add Block
    script(src='/js/script.js')





//script. 
//     function showBigBlock() {
//      console.log(s)
//      var xhr = new XMLHttpRequest();
//      xhr.open('GET', 'fd.html', true);
//      xhr.onreadystatechange = function() {
//      if (xhr.readyState === 4 && xhr.status === 200) {
//        var container = document.getElementById('sdf');
//        var template = xhr.responseText;
//        container.innerHTML += template;
//      }
//      };
//      xhr.send();
//  }
//
//
//    
//
//
//doctype html
//html(lang="en")
// head
//    meta(charset="UTF-8")
//    meta(name="viewport", content="width=device-width, initial-scale=1.0")
//    title #{s}
//    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css")
//    link(rel="stylesheet", href="/style.css") 
//    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
//    script(src="/js/script.js")
//
// body
//  main
//   .container#sdf
//    section.insurance(style={position: "relative;"})#insurance
//      .insurance__block
//        .insurance__info 
//          .insurance__forms
//            form#section2(class="block__insurance-form2 ", style="display: block;")
//                h1(class="insurance__info-title text-center mb-lg-5 mb-3") Данные страхователя
//                .sub-forms.col-12
//                  .d-flex.flex-column.me-lg-3
//                    .insurance-block-add
//                      .d-flex.flex-column
//                        h2.col-12.w-100.mb-4 #{s} страхователь
//                        .d-flex.justify-content-md-between.justify-content-center.align-items-md-start.align-items-center.insurance-second-block
//                          .row.col-md-4.col-12
//                            .insurance__first.insurance-flex.justify-content-center.flex-column.align-items-center
//                              .insurance__program.insurance__form-block.flex-column.d-flex.mb-lg-4.mb-3
//                                label.insurance__program-label.mb-lg-1.mb-1(for) Имя
//                                input.insurance__program-aria.infoperson#Name1(type='text')
//                              .insurance__program.insurance__form-block.flex-column.d-flex.mb-lg-4.mb-3
//                                label.insurance__program-label.mb-lg-1.mb-1(for) ИИН
//                                input.insurance__program-aria#IIN(type='text')
//                              .insurance__program.insurance__form-block.flex-column.d-flex.mb-lg-4.mb-3
//                                label.insurance__program-label.mb-lg-1.mb-1(for) Дата рождения:
//                                input.dates__form.insurance__program-aria#dateBirthday1(type='text', placeholder='06.01.2023')
//                              .insurance__program.insurance__form-block.flex-column.d-flex.mb-lg-4.mb-3
//                                .form__input-file
//                                  label.insurance__program-label.mb-lg-1.mb-1(for) Копии документов:
//                                  input.field__file#uploaddocs1(type='file', multiple)
//                                  label.insurance__program-aria.insurance-upload.d-flex.align-items-center.justify-content-between.pe-0(for='file')
//                                    span.file-text Выбрать файл
//                                    .file-img(style='background: #0172B7; border-left: 1px solid #000000;')
//                                      img(src='/img/upload.svg', alt)
//                          .row.col-md-4.col-12
//                            .insurance__two.insurance-flex.justify-content-center.flex-column.align-items-center
//                              .insurance__program.insurance__form-block.flex-column.d-flex.mb-lg-4.mb-3
//                                label.insurance__program-label.mb-lg-1.mb-1(for) Фамилия
//                                input.insurance__program-aria#LastName1(type='text')
//                              .insurance__program.insurance__form-block.flex-column.d-flex.mb-lg-4.mb-3
//                                label.insurance__program-label.mb-lg-1.mb-1(for) Номер паспорта
//                                input.insurance__program-aria#pasport1(type='text')
//                              .insurance__program.insurance__form-block.flex-column.d-flex.mb-lg-4.mb-3
//                                label.insurance__program-label.mb-lg-1.mb-1(for) Дата выдачи паспорта:
//                                input.dates__form.insurance__program-aria#datePasportStart1(type='text', placeholder='06.01.2023')
//                          .row.col-md-4.col-12
//                            .insurance__three.insurance-flex.justify-content-center.flex-column.align-items-center
//                              .insurance__program.insurance__form-block.flex-column.d-flex.mb-lg-4.mb-3
//                                label.insurance__program-label.mb-lg-1.mb-1(for) Номер телефона
//                                input.insurance__program-aria.phone-insuarance#Phone1(type='tel', data-tel-input)
//                              .insurance__program.insurance__form-block.flex-column.d-flex.mb-lg-4.mb-3
//                                label.insurance__program-label.mb-lg-1.mb-1(for) Укажите страну
//                                select.insurance__program-aria.select.select-user-country#country-people1(name='states[]').
//
//
//                              .insurance__program.insurance__form-block.flex-column.d-flex.mb-lg-4.mb-3
//                                label.insurance__program-label.mb-lg-1.mb-1(for) Адрес
//                                input.insurance__program-aria#adress1(type='text')
//                              .insurance__program.insurance__form-block.flex-column.d-flex.mb-lg-4.mb-3
//                                .form__action-people
//                                  .form__add-people-block.d-flex.align-items-center.form__action-block.mb-lg-3(onclick='showBigBlock()')
//                                    p.form__add-people-text.form__action-text Добавить
//                                    .form__add-people-img.form__action-img.ms-3
//                                      img(src='/img/plus-tourist.svg', alt)











                        
//                        .d-flex.justify-content-md-between.justify-content-center.align-items-md-start.align-items-center.insurance-second-block
//                          .row.col-md-4.col-12
//                            div(class="insurance__first insurance-flex justify-content-center flex-column align-items-center")
//                              .insurance__program.insurance__form-block.flex-column.d-flex.mb-lg-4.mb-3
//                                label.insurance__form-label.mb-lg-1.mb-1 Имя
//                                input#Name1.insurance__program-aria
//                              .insurance__program.insurance__form-block.flex-column.d-flex.mb-lg-4.mb-3
//                                label.insurance__form-label.mb-lg-1.mb-1 ИИН
//                                input#IIN.insurance__program-aria
//                              .insurance__program.insurance__form-block.flex-column.d-flex.mb-lg-4.mb-3
//                                label.insurance__form-label.mb-lg-1.mb-1 Дата рождения:
//                                input#dateBirthday1.insurance__program-aria(type="text", placeholder="06.01.2023")
//                              .insurance__program.insurance__form-block.flex-column.d-flex.mb-lg-4.mb-3
//                                .for__input-file 
//                                  label(for="uploaddocs1", class="insurance__program-label mb-lg-1 mb-1")
//                                    input.field__file(type="file", name="uploaddocs1", multiple="multiple")
//                                  label(for="uploaddocs1", class="insurance__program-aria insurance-upload d-flex align-items-center justify-content-between pe-0")
//                                    span.file-text Выберите файл
//                                    div.file-img(style="background: #0172B7; border-left: 1px solid #000000;")
//                                      img(src="/img/upload.svg", alt="file")
//